<%= render 'shared/errors', obj: @blog %>

<div class="row">
  <div class="col-md-6">
    <%= form_for @blog do |f| %>
      
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :byline %>
      <%= f.text_area :byline, rows: 5 %>
      
      <%= f.label :content %>
      <%= f.text_area :content, rows: 20 %>
      
      <%= f.submit'Submit', class: "btn btn-success pull-right" %>
      
    <% end %>
  </div>
</div>