<div class='row'>
  <div class='col-md-12'>
     <%= form_for [@exercise, @variation ], :html => {class: "form-horizontal", role: "form"} do |f| %>
    <% if @variation.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@variation.errors.count, "error") %>
            prohibited this variation from being saved:
          </h2>
          <div class="panel-body">
            <ul>
              <% @variation.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :name %>
        </div>
        <div class='col-md-11'>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Type of variation', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :description %>
        </div>
        <div class='col-md-11'>
          <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Description of variation' %>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-md-offset-1 col-md-11'>
          <%= f.submit class: 'btn btn-primary btn-lg pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
