<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("Logo_65px_height.png", :border => 0, :alt => 'Skolpt', :title => 'Skolpt'), root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        
        <!-- Root path currently links to Exercises. Not required at this time
        <ul class="nav navbar-nav">
          <li><%= link_to "Exercises", root_path %></li>
        </ul>
        -->
        
        <ul class="nav navbar-nav navbar-left">
          <!-- Search form -->
          <%= form_tag(exercises_path, :method => "get", class: "navbar-form navbar-left") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Exercises", class: 'form-control' %>
          <% end %>
          <!-- End Search Form -->
        </ul>
        
        
        <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Strength", exercises_path(), class: "bold", @title => "All Exercises" %></li>
              <li><%= link_to "Abdomen", exercises_path(:muscle_groups_id=>"7"), @title => "Abdomen Exercises" %></li>
              <li><%= link_to "Arms", exercises_path(:muscle_groups_id=>"2"), @title => "Arm Exercises" %></li>
              <li><%= link_to "Back", exercises_path(:muscle_groups_id=>"4") %></li>
              <li><%= link_to "Buttocks", exercises_path(:muscle_groups_id=>"6") %></li>
              <li><%= link_to "Chest", exercises_path(:muscle_groups_id=>"1") %></li>
              <li><%= link_to "Legs", exercises_path(:muscle_groups_id=>"5") %></li>
              <li><%= link_to "Shoulders", exercises_path(:muscle_groups_id=>"3") %></li>
              <li role="separator" class="divider"></li>
              <li class="bold"><%= link_to "Cardio", exercises_path(), class: "bold" %></li>
              <li role="separator" class="divider"></li>
              <li class="bold"><%= link_to "Stretching", exercises_path(), class: "bold" %></li>
            </ul>
          </li>
          
            <li><%= link_to "Feedback", your_feedback_path %></li>
            
            <% if athlete_signed_in? %>
          
              <!-- Not Required
              <% if !current_athlete.admin? %>
                <div class="navbar-left">
                  <p class="navbar-text">
                    <li>Signed in as <%= "#{current_athlete.email}" %></li>
                  </p>
                </div>
              <% end %>
              -->
            
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Sign out", destroy_athlete_session_path, method: :delete %></li>
                  </ul>
              </li>
          <% end %>
          
          <% if !athlete_signed_in? %>
            <li><%= link_to "Sign up", new_athlete_registration_path %></li>
            <li><%= link_to "Sign in", new_athlete_session_path %></li>
          <% end %>

        </ul>
      </div>
    
  </nav>
  
</header>