<div class="container">
  <div class="row col-lg-6 col-lg-offset-3">
    <h1 class=""><%= @muscle_group.name %></h1>
  </div>
  
  <div class="row col-lg-6 col-lg-offset-3">
    <div class="">
      <p><%= @muscle_group.description %></p>
    </div>
  
  </div>

  <div class="row col-lg-6 col-lg-offset-3">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Edit Muscle Group", edit_muscle_group_path(@muscle_group), class: "btn btn-primary btn-space btn-xs" %>
    <%= link_to "Delete Muscle Group", muscle_group_path(@muscle_group), method: :delete, 
              data: { confirm: "Are you sure you want to delete this Muscle Group?" },
              class: "btn btn-danger btn-xs btn-space" %>
  <% end %>
  </div>
  
  <div class="row col-lg-6 col-lg-offset-3">
    <%= link_to "Back to Muscle Groups", muscle_groups_path %>  
  </div>
  
</div>
