<%= render 'shared/errors', obj: @exercise %>

<div class='row'>
  <div class='col-md-12'>
    <%= form_for(@exercise, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :name %>
        </div>
        <div class='col-md-11'>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name of exercise', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :description %>
        </div>
        <div class='col-md-11'>
          <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Description of exercise' %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :summary %>
        </div>
        <div class='col-md-11'>
          <%= f.text_area :summary, rows: 10, class: 'form-control', placeholder: 'Summary of exercise' %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :category %>
        </div>
        <div class='col-md-11'>
          <%= f.collection_select :categories_id, Category.all, :id, :name, {prompt: "Select a category"}, {class: "form-control"} %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :muscle_group %>
        </div>
        <div class='col-md-11'>
          <%= f.collection_select :muscle_groups_id, Muscle_group.all, :id, :name, {prompt: "Select a muscle group"}, {class: "form-control"} %>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-md-offset-1 col-md-11'>
          <%= f.submit class: 'btn btn-success pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
