<% title "Skolpt" %>

<div class="container">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1>All Exercises</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    
    <%= link_to "All Exercises", exercises_path() %>
    <%= link_to "Chest", exercises_path(:muscle_groups_id=>"1") %>
    <%= link_to "Arms", exercises_path(:muscle_groups_id=>"2") %>
    <%= link_to "Shoulders", exercises_path(:muscle_groups_id=>"3") %>
    <%= link_to "Back", exercises_path(:muscle_groups_id=>"4") %>
    <%= link_to "Legs", exercises_path(:muscle_groups_id=>"5") %>
    <%= link_to "Buttocks", exercises_path(:muscle_groups_id=>"6") %>
    <%= link_to "Abdomen", exercises_path(:muscle_groups_id=>"7") %>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <% @exercises.each do |exercise| %>
      <h3><%= link_to exercise.name.titleize, exercise_path(exercise) %></h3>
      <p><%= exercise.description %></p>
    <% end %>
  </div>
</div>
  
  <!--
  <div class="col-md-4">
    <div class="subheading">
      <h4>Muscle Groups</h4>
    </div>
    <ul class="filter-fields">
      <h4><li><%= link_to "Chest", exercises_path(:muscle_groups_id=>"1") %></li></h4>
      <h4><li></li></h4>
      <h4><li></li></h4>
    </ul>
  </div>
</div>
-->

<div class="row">
  <!-- Add this to paginate your page, given the pagination details -->
  <%= will_paginate @exercises, :previous_label => '<i class="glyphicon glyphicon-chevron-left"></i>', :next_label => '<i class="glyphicon glyphicon-chevron-right"></i>' %>
</div>
</div>