<exercise class="detail-exercise row">
  <div class="md-col-12">
    <h1 class="exercise-detail-name"> <%= @exercise.name %> </h1>
  </div>
  
  <div class="md-col-12">
    <div class="votes md-col-4 pull-right" id="likes-dislikes">
      <%= link_to like_exercise_path(@exercise), method: :put, class: 'voting' do %>
        <i class="glyphicon glyphicon-chevron-up"></i>
          <%= @exercise.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_exercise_path(@exercise), method: :put, class: 'voting' do %>
        <i class="glyphicon glyphicon-chevron-down"></i>
          <%= @exercise.get_downvotes.size %>
      <% end %>
    </div>
    
    <div class="md-col-8">
      <h2 class="exercise-detail-category"> <%= @category.name + " - " + @muscle_group.name %> </h2>
    </div>
  </div>
  
  <div class="exercise-detail-description well md-col-12">
    <h3> Description </h3>
    <p> <%= simple_format(@exercise.description) %> </p>
  </div>
  
  <div class="exercise-detail-summary well md-col-12">
    <h3> Summary </h3>
    <p> <%= simple_format(@exercise.summary) %> </p>
  </div>
  
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Edit Exercise", edit_exercise_path(@exercise), class: "btn btn-primary btn-lg btn-space" %>
    <%= link_to "Delete Exercise", exercise_path(@exercise), method: :delete, 
              data: { confirm: "Are you sure you want to delete the exercise?" },
              class: "btn btn-danger btn-primary btn-lg btn-space" %>
  <% end %>
</exercise>